<div class="container-fluid">
    <div class="align-items-center">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <!--Summer Sale Logo-->
                    <a href="https://www.youtube.com/watch?v=xymM0Vw3z_g" title=""><img src="assets/images/SummerSaleBanner.png" class="img-responsive"></a>
                </div>
                <div class="col-md-9">
                    <a href="dress00.html" title=""><img src="assets/images/casual00.png" class="img-responsive"></a>
                    <a href="dress01.html" title=""><img src="assets/images/casual01.png" class="img-responsive"></a>
                    <a href="dress02.html" title=""><img src="assets/images/casual02.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!--Judy Garland Logo-->
                    <a href="https://www.youtube.com/watch?v=xymM0Vw3z_g" title=""><img src="assets/images/JudyBanner.png" class="img-responsive"></a>
                </div>
                <div class="col-md-9">
                    <a href="dress03.html" title=""><img src="assets/images/casual03.png" class="img-responsive"></a>
                    <a href="dress04.html" title=""><img src="assets/images/casual04.png" class="img-responsive"></a>
                    <a href="dress05.html" title=""><img src="assets/images/casual05.png" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</div>