  <!--Social Media-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
      <a href="https://www.youtube.com/watch?v=zw79RVnlCb0"><img src="assets/images/Twitterlogo.png" style="height: 32px; width: 32px;"class="img-responsive"></a>
      <a href="https://www.youtube.com/watch?v=fMK1vqE_3Ds"><img src="assets/images/TikTokLogo.png" style="height: 32px; width: 32px;"class="img-responsive"></a>
      <a href="https://www.youtube.com/watch?v=H7AAmvDxx8A"><img src="assets/images/InstagramLogo.png" style="height: 32px; width: 32px;"class="img-responsive"></a>
		</div>
      <div class="col-md-4">
        <p style="text-align: center;"><a href="home.html"><img src="assets/images/LogoMain.png" alt="RHB Logo" width="512" height="256"></a></p>
          <h3 style="text-align: center;">ORIGINAL BEAUTY</h3>
		</div>
		<div class="col-md-2">
      <a href="signup.html"><h5>Cadastre-se</h5></a>
      <a href="signin.html"><h5>Entrar</h5></a>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
  <!--Divider-->
<hr class="solid"> 
  <!--Categories-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
      <a href="casuals.html" title=""><h6 class="text-center">CASUAIS</h6></a>
		</div>
		<div class="col-md-2">
      <a href="party.html" title=""><h6 class="text-center">FORMAIS</h6></a>
		</div>
		<div class="col-md-2">
      <a href="cosplay.html" title=""><h6 class="text-center">TEMÁTICAS</h6></a>
		</div>
		<div class="col-md-2">
      <a href="omega.html" title=""><h6 class="text-center">ÔMEGA</h6></a>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
  <!--Divider-->
<hr class="solid">