<app-header></app-header>
<app-categories></app-categories>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
            <a href="https://www.youtube.com/watch?v=xymM0Vw3z_g" title=""><img src="assets/images/SummerSaleBanner.png" class="img-responsive"></a>
		</div>
		<div class="col-md-6">
            <a href="dress00.html" title=""><img src="assets/images/cosplay00.png" class="img-responsive"></a>
            <a href="dress01.html" title=""><img src="assets/images/cosplay01.png" class="img-responsive"></a>
            <a href="dress02.html" title=""><img src="assets/images/cosplay02.png" class="img-responsive"></a>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=xymM0Vw3z_g" title=""><img src="assets/images/JudyBanner.png" class="img-responsive"></a>
    </div>
    <div class="col-md-6">
        <a href="dress00.html" title=""><img src="assets/images/cosplay03.png" class="img-responsive"></a>
        <a href="dress01.html" title=""><img src="assets/images/cosplay04.png" class="img-responsive"></a>
        <a href="dress02.html" title=""><img src="assets/images/cosplay05.png" class="img-responsive"></a>
    </div>
    <div class="col-md-2">
    </div>
</div>
</div>
<app-footer></app-footer>