  <!--Sign In Data-->
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h3 style="text-align: center;">Dados da conta</h3><br><br>
            <label for="lastname"><h4>Email:</h4></label>
            <input type="text" id="email" name="email"><br>
            <label for="lastname"><h4>Senha:</h4></label>
            <input type="text" id="password" name="password">
            <a href="https://www.youtube.com/watch?v=PTVusldCCEo"><h5>Esqueceu sua senha?</h5></a><br><br><br>
        <div>
            <input type="checkbox" id="soulselling" name="soulselling">
            <label for="soulselling"><h4>Manter conexão</h4></label><br>
        </div>
        <a href="https://www.youtube.com/watch?v=P3ALwKeSEYs"><button class="button buttonSignUp">Entrar</button></a></div>
    </div>
</div>