<app-header></app-header>
  <!--Divider-->
  <hr class="solid"> 
<!--Login Data-->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h4 style="text-align: center;">Dados da conta</h4><br><br>
        <label for="lastname"><h4>Email:</h4></label><br>
        <input type="text" id="email" name="email"><br>
        <label for="lastname"><h4>Senha:</h4></label><br>
        <input type="text" id="password" name="password">
        <a href="https://www.youtube.com/watch?v=PTVusldCCEo"><h5><br>Esqueceu sua senha?</h5></a><br><br><br>
      </div>
      <div class="col-md-2">
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <a href="https://www.youtube.com/watch?v=P3ALwKeSEYs"><button class="button buttonSignUp">Entrar</button></a>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>