<div class="container">
    <div class="row">
      <div class="col-12">
        <h5 style="text-align: center;">Estou escrevendo esse texto em uma noite fria de sábado e é difícil acreditar que consegui "terminar" a UI deste projeto.<br><br>
        A RHB foi uma tentativa de fazer algo em um mundo que nunca pensaria desbravar em condições normais;<br>
        Tentar adicionar originalidade e bom gosto onde pedaços de pano, plástico, metais e couros são vendidos a preço de pedras preciosas<br>(Tô falando de vocês, Guti e Luís Vitão)<br><br>
        Não faço ideia de como achou essa página, mas gostaria da sua opinião sobre meu trabalho de conclusão.</h5><br><br><h5 style="text-align: right;">Meus sinceros cumprimentos,</h5>
        <h5 style="text-align: right;"><a href="" title=""><img src="assets/images/MarcosChars.png" style="height: 32px; width: 128px;"class="img-responsive"></a></h5>
       </div>
      </div>
  </div>